{% extends "templates/template.njk" %}

{% set page = {
    title: 'Starter Boilerplate 2'
} %}

{% block content %}
    <div class="container">
        <img src="__static__assets/img/content/logo.svg" alt="Starter Boilerplate", width="200" style="margin-top: 50px;">
        <h1>{{ page.title }}</h1>
    </div>
{% endblock %}